/.phpunit.cache
/node_modules
/core/node_modules
/core/public/build
/core/public/hot
/core/public/storage
/core/storage/*.key
/core/vendor
/install/*.sql
.env
.env.example
.env.production
.phpunit.result.cache
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
